@import "tailwindcss";

@layer components {
    .btn {
        @apply bg-gradient-to-tl from-gray-500 to-gray-600 hover:from-gray-600 hover:to-gray-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition-all duration-5000 ease-linear cursor-pointer;
    }

    .navLink {
        @apply text-white font-medium hover:underline underline-offset-1;
    }

    .logoText {
        @apply bg-gradient-to-r from-yellow-500 via-orange-400 to-red-600 text-transparent bg-clip-text
    }

    .bodyGradient {
        @apply bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900
    }
}