@import "tailwindcss";

@layer components {
    .btn {
        @apply bg-gradient-to-br from-amber-300 to-yellow-400 hover:from-amber-400 hover:to-yellow-500 text-gray-900 font-semibold py-2 px-6 rounded-lg shadow-lg transition-all duration-300 ease-in-out hover:scale-105;
    }

    .navLink {
        @apply font-medium hover:underline underline-offset-4 text-amber-100;
    }

    .logoText {
        @apply bg-gradient-to-r from-yellow-500 via-orange-400 to-red-600 text-transparent bg-clip-text
    }

    .bodyGradient {
        @apply bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900
    }

    .headingText {
        @apply text-amber-400
    }

    .subHeadingText {
        @apply text-amber-100
    }
}